<div>
    <h1>Estos son los productos agregados hasta el momento:</h1>

    <ul id="productList">
        {{#each products}}
        <li>
            <b>{{this.user}}</b> creó el siguiente producto: <br>
            Titulo: {{this.title}} <br>
            Descripción: {{this.description}} <br>
            Código: {{this.code}} <br>
            Precio: {{this.price}} <br>
            Stock: {{this.stock}} <br>
            Categoría: {{this.category}} <br><br>
        </li>
        {{/each}}
    </ul>
    
</div>

{{!-- Traigo dos scripts que hacen referencia al uso de sockets--}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

{{!--Para poder usar Sweetalert--}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>