<div>
    <div>
        <a href="/products"> Volver 🔙  </a>
        <h2> - </h2>
    </div>
    <h1>Estos son los productos en tu carrito!</h1>

    <ul>
        {{#if cart.products.length}}
            {{#each cart.products}}
                <li>
                    <b>Artículo: </b> {{this.product.title}} - <b>Cantidad:</b> {{this.quantity}}  -  <b>Precio:</b> ${{this.product.price}}
                </li>
            {{/each}}
            <button onclick="deleteAllProducts('{{cart._id}}')">Vaciar carrito</button>
        {{else}}    
            <p>Tu carrito está vacío.</p>
        {{/if}}
    </ul>
</div>

{{!--Para poder usar Sweetalert--}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{{!-- Traigo dos scripts que hacen referencia al uso de sockets--}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>
