<div>
    <div>
        <a href="/"> Volver al incio 🔙  </a>
        <h2> - </h2>
        <a href="/realTimeProducts"> Agregar productos en tiempo real </a>
        <h2> - </h2>
        <button onclick="window.location.href='/carts/{{cid}}'"> Mostrar carrito </button>
    </div>
    <h1>Estos son los productos creados hasta el momento:</h1>
    <ul id="productList">
        {{#if products.length}}
            {{#each products}}
                <li>
                    <b>{{this.user.first_name}} {{this.user.last_name}}</b> creó el siguiente producto: <br>
                    Titulo: {{this.title}} <br>
                    Descripción: {{this.description}} <br>
                    Código: {{this.code}} <br>
                    Precio: {{this.price}} <br>
                    Stock: {{this.stock}} <br>
                    Categoría: {{this.category}} <br><br>
                    <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
                    <a href="/products/{{this._id}}">
                        <button>Abrir producto completo</button>
                    </a>
                </li>
            {{/each}}
            {{else}}
                <p>No hay productos ingresados!</p>
        {{/if}}
    </ul>
    
</div>

{{!-- Traigo dos scripts que hacen referencia al uso de sockets--}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>

{{!--Para poder usar Sweetalert--}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>